.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  box-shadow: 0 15px 0 20px #352d2d, 0 40px 0 30px #000000;
  cursor: pointer;
  background-color: #c0392b;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 80px;
  transform: translateX(-50%);
}

.button::before {
  content: '';
  z-index: 1;
  border-radius: 50%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 100%;
  left: 0%;
  transition: bottom 0.15s;
  width: 320px;
  height: 80px;
}

.button::after {
  content: '';
  background-color: #c0392b;
  position: absolute;
  bottom: 50%;
  left: 0%;
  width: 320px;
  height: 80px;
  transition: height 0.15s;
}

.button:active::before {
  bottom: 50%;
}

.button:active::after {
  height: 50%;
}

ul {
  display: flex;
  justify-content: space-around;
}